<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>

    <h1>Its my Post</h1>
    <form action="/post" method="post">
        <input type="text" name="username" placeholder="title">
        <input type="text" name="content" placeholder="content">
        <input type="submit" value="Create Post">
    </form>
    
</body>
</html>